<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          @if (authType === "register") {
            <a [routerLink]="['/login']">Have an account?</a>
          }

          @if (authType === "login") {
            <a [routerLink]="['/register']">Need an account?</a>
          }
        </p>
        <app-list-errors [errors]="errors" />
        <form
          [formGroup]="getOtp ? otpForm : authForm"
          (ngSubmit)="submitForm()"
        >
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              @if (authType === "register") {
                <input
                  formControlName="username"
                  placeholder="Username"
                  class="form-control form-control-lg"
                  type="text"
                />
              }
            </fieldset>

            <fieldset class="form-group">
              @if (!getOtp) {
                <input
                  formControlName="loginID"
                  placeholder="Email"
                  class="form-control form-control-lg"
                  type="text"
                />
              }
            </fieldset>

            <fieldset class="form-group">
              @if (getOtp) {
                <input
                  formControlName="OTP"
                  placeholder="OTP"
                  class="form-control form-control-lg"
                  type="password"
                />
              }
            </fieldset>
            @if (errorMessage) {
              <div class="alert alert-danger">
                {{ errorMessage }}
              </div>
            }
            <button
              class="btn btn-lg btn-primary pull-xs-right"
              [disabled]="false"
              type="submit"
            >
              {{ getOtp ? "SIGN IN" : "GET OTP" }}
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
